<footer>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="social-media text-center">
                  <h2>Contact Us!</h2>
                  <a href="/socialmedia"
                    ><img
                      style="width: 12%"
                      src="../assets/icons/facebook-black.svg"
                  /></a>
                  <a href="/socialmedia"
                    ><img src="../assets/icons/twitter-black.svg"
                  /></a>
                  <a href="/socialmedia"
                    ><img src="../assets/icons/instagram-black.svg"
                  /></a>
                  <a href="/socialmedia"
                    ><img src="../assets/icons/email-black.svg"
                  /></a>
                </div>
              </div>
              <div class="col-sm">
                <div class="footer-logo">
                  <img src="../assets/logo/black-logo.png" />
                </div>
              </div>
              <div class="col-md">
                <div class="footer-nav">
                  <ul>
                    <li><a href="/home"> Home </a></li>
                    <li><a href="/registration"> User Registration</a></li>
                    <li><a href="/login"> Log in</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>