 <div section="header-top">
          <div class="logo">
            <a href="/"
              ><img alt="white-logo" src="../assets/logo/white-logo_small2.PNG"
            /></a>
          </div>
          <div
            class="navbar navbar-expand-lg navbar-light bg-transparent nav-reg float-right"
          >
            <nav>
              <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/logout"> Log Out</a></li>
              </ul>
            </nav>
          </div>
        </div>