<!DOCTYPE html>
<html>
  <head>
    <!-- SCRIPT, META, LINK (JS, CSS) -->
     <!-- SCRIPT, META, LINK (JS, CSS) -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   <!-- MY CSS -->
   <link rel="stylesheet" href="../css/style-rdetail.css" />
   <!-- GOOGLE FONTS -->
   <link
     href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
     rel="stylesheet"
   />
   <!-- BOOSTRAP -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Looking for a place to stay? - Earthbnb</title>
  </head>
  <body>
    
      <header class="header-home">
        {{> header}}
        
      </header>
     <div class="container-fluid p-0">
      <main>
        <div class="room-title text-center">
          <div class="main-title">
            <h3>Yonge Loft with Patio! - $130 CAD/night</h3>
          </div>
          <div class="room-title-details">
            <p>
              4.75<span class="grey-span"> (233)</span>
              <img src="../assets/icons/star.svg" alt="Star icon"/> -
              <img src="../assets/icons/like-blue.svg" alt="Like icon" /> Megahost - Toronto,
              Canada
            </p>
          </div>
        </div>

        <!-- GRID IMAGES -->
        <div class="room-detail">

          <div class="container">
            <div class="row">
              <div class="col text-center">
                <div class="main-img ">
                  <img
                    src="../assets/roomdetail/taylor-simpson-6JGJjb49PqA-unsplash.jpg"
                    alt="Main room image"
                  />
                </div>
              </div>
              <div class="col align-self-center " style="padding-left:0;">
                <div class="rl-images-grid ">

                  <div class="container-fluid ">
                    <div class="row mx-auto ">
                      <div class="col-sm-6 text-center mx-auto " style="padding-left:0;">
                        <div class="card">
                          <img
                            src="../assets/roomlisting/3-nathan-van-egmond-CXpK83c6Y1M-unsplash-resize.jpg"
                            alt="Room interior 01"
                           
                          />
                        </div>
                      </div>
                      <div class="col-sm-6 text-center" style="padding-left:0;">
                        <div class="card">
                          <img
                            src="../assets/roomlisting/4-noah-benjamin-0r-HGemZdH8-unsplash-resize.jpg"
                            alt="Room interior 02"
                          />
                        </div>
                      </div>
                    </div>
                      <div class="row ">
                        <div class="col-sm-6 text-center" style="padding-left:0;">
                          <div class="card">
                            <img
                              src="../assets/roomlisting/5-ryan-chu-TCkoheekBw8-unsplash-resize.jpg"
                              alt="Room interior 03"
                            />
                          </div>
              
                        </div>
                        <div class="col-sm-6 text-center" style="padding-left:0;">
                          <div class="card">
                            <img
                              src="../assets/roomlisting/6-sidekix-media-r_y2VBvEOIE-unsplash-resize.jpg"
                              alt="Room interior 04"
                            />
                          </div>
                        </div>
                      </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="room-information">
          <!-- BLACK LINE -->
          <div class="room-division"></div>
          <!-- EVERY INFORMATION GOES DOWN HERE -->
          <div class="information-container">

            <div class="apartment-details">
              <h4>Entire apartment hosted by Gustavo</h4>
              <p>4 guests - 2 bedrooms - 2 beds - 1 bath</p>
            </div>

            <div class="owner-pic">
              <!-- <img src="owner-pic" /> -->
            </div>
            <div class="room-division-2"></div>



            <div class="room-features">
              <div class="feature-1">
                <img class="icon" src="../assets/icons/house.svg" alt="House icon"/>
                <div class="description">
                  <h4>Entire Home</h4>
                  <p>You'll have the entire apartment for yourself</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon-clean" src="../assets/icons/clean.svg" alt="Clean icon" />
                <div class="description">
                  <h4>Clean and tidy</h4>
                  <p>Recent guests said this place is super clean.</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon" src="../assets/icons/like-black.svg" alt="Megahost icon"/>
                <div class="description">
                  <h4>Gustavo is a Megahost</h4>
                  <p>Megahosts are the best rated hosts.</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon" src="../assets/icons/calander.svg" alt="Calendar icon"/>
                <div class="description">
                  <h4>Cancellation policy</h4>
                  <p>Cancel before 12:00 PM on Oct. 7 and get 100% refund.</p>
                </div>
              </div>

              <div class="room-division-3"></div>

              <div class="room-details-text">
                <p>
                  Full Loft with Patio guesthouse very close to downtown Yonge &
                  Eglinton. Warm, cozy and spacious, beautifully furnished and
                  in excellent location. A 5 minute walk to TTC subway and
                  buses, shopping mall and groceries. Private entrance and lock,
                  1 bedroom with King, shower bathroom, large kitchen, barbecue
                  on the balcony.
                </p>
              </div>
              <!-- <div class="room-division-4"></div> -->
            </div>
          </div>

          <div class="room-details-left">
            <div class="sleeping-arrangements ">
              <h4 class="arrangements-h4">Sleeping Arrangements</h4>
              <div class="sleeping-arrangements-grid">

                <div class="container text-center">
                  <div class="row">
                    <div class="col col-md-offset-5 center-block">
                      <div class="sleeping-1 text-center">
                        <img class="myicon-bed" src="../assets/icons/bed.svg" alt="Bed icon" />
                        <div class="sleeping-text">
                          <h4>Bedroom 1</h4>
                          <p>1 queen bed</p>
                        </div>
                      </div>
                    </div>

                    <div class="col col-md-offset-5 center-block"> 
                        <div class="sleeping-1  text-center">
                          <img class="myicon-bed " src="../assets/icons/bed.svg" alt="Bed icon" />
                          <div class="sleeping-text">
                            <h4>Bedroom 2</h4>
                            <p>1 queen bed</p>
                          </div>
                        </div>
                    </div>

                    <div class="col col-md-offset-5 center-block">
                      <div class="sleeping-1  text-center">
                        <img class="myicon-bed" src="../assets/icons/bed.svg" alt="Bed icon" />
                        <div class="sleeping-text">
                          <h4>Bedroom 3</h4>
                          <p>1 sofa bed</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="room-division-5"></div>

            <div class="room-amenities">
              <h4 class="amenities-h4">Amenities</h4>
              <div class="room-amenities-grid">
                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg"  alt="Check icon"/>
                  <p>Hangers</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon"/>
                  <p>Carbon monoxide alarm</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Heating</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Washer</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Indoor fireplace</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Private entrance</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Wifi</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Laptop-friendly workspace</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Iron</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" alt="Check icon" />
                  <p>Fire extinguisher</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="booking-form">
          <h2>Confirm the Date</h2>
          <form action="/payment">
            <div class="form-guests">
              <label for="guests">GUESTS:</label>
              <select id="guests" name="guests" class="form-control">
                <option value="1">1 guest</option>
                <option value="2">2 guests</option>
                <option value="3">3 guests</option>
                <option value="4">4 guests</option>
              </select>
            </div>

            <div class="form-check-in">
              <label for="check-in">CHECK-IN:</label>

              <input
                type="date"
                id="check-in"
                name="check-in"
                value="2020-09-19"
                min="2020-09-19"
                max="2021-12-31"
                class="form-control"
              />
            </div>

            <div class="form-check-out">
              <label for="check-out">CHECK-OUT:</label>

              <input
                type="date"
                id="check-out"
                name="check-out"
                value="2020-09-19"
                min="2020-09-19"
                max="2022-12-31"
                class="form-control"
              />
            </div>

            <input type="submit" value="Change Dates" />
          </form>
        </div>
      </main>
      {{> whitefooter}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
     
  </body>
</html>
