<!DOCTYPE html>
<html>
  <head>
    <!-- SCRIPT, META, LINK (JS, CSS) -->
    <link rel="stylesheet" href="../css/style-rl.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <title>Looking for a place to stay? - Earthbnb</title>
  </head>
  <body>
    <div class="container">
      <header class="header-home">
        <div section="header-top">
          <div class="logo">
            <a href="/"
              ><img alt="white-logo" src="../assets/logo/white-logo_small2.PNG"
            /></a>
          </div>
          <div class="nav-reg">
            <nav>
              <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/rooms"> Room Listing </a></li>
                <li><a href="/registration"> User Registration</a></li>
                <li><a href="/login"> Log in</a></li>
              </ul>
            </nav>
            <div class="registration"></div>
          </div>
        </div>

        <div section="header-hero">
          <div class="hero-intro">
            <h1>Room Listing</h1>
            <p>Where are we going?</p>
          </div>
        </div>
      </header>

      <main>
        <div class="room-listing">
          <h2>Room Listing</h2>

          <div class="rl-images-grid">
            <div class="card">
              <img
                src="../assets/roomlisting/1-aaron-huber-s95oB2n9jng-unsplash_resize.jpg"
                alt="Room 01"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/2-nathan-van-egmond-9LMRQdVv7hw-unsplash-resize.jpg"
                alt="Room 02"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/3-nathan-van-egmond-CXpK83c6Y1M-unsplash-resize.jpg"
                alt="Room 03"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/4-noah-benjamin-0r-HGemZdH8-unsplash-resize.jpg"
                alt="Room 04"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/5-ryan-chu-TCkoheekBw8-unsplash-resize.jpg"
                alt="Room 05"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/6-sidekix-media-r_y2VBvEOIE-unsplash-resize.jpg"
                alt="Room 06"
              />
              <div class="container">
                <p style="color: rgb(102, 102, 102)">
                  Entire apartment - Toronto
                </p>
                <h4><b>Yonge Loft with Patio! </b></h4>
                <p style="color: rgb(150, 150, 150)">$130 CAD/night</p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer">
          <div class="social-media">
            <h2>Contact Us!</h2>
            <a href="/socialmedia"><img src="../assets/icons/fb_icon.png" /></a>
            <a href="/socialmedia"><img src="../assets/icons/twitter.png" /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/instagram.png"
            /></a>
            <a href="/socialmedia"><img src="../assets/icons/email.png" /></a>
          </div>

          <div class="footer-logo">
            <img src="../assets/logo/airbnb-white-large.PNG" />
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="/home"> Home </a></li>
              <li><a href="/rooms"> Room Listing </a></li>
              <li><a href="/registration"> User Registration</a></li>
              <li><a href="/login"> Log in</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
