<!DOCTYPE html>
<html>
  <head>
    <!-- SCRIPT, META, LINK (JS, CSS) -->
    <link rel="stylesheet" href="../css/style-rdetail.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <meta charset="utf-8" />
    <title>Looking for a place to stay? - Earthbnb</title>
  </head>
  <body>
    <div class="container">
      <header class="header-home">
        <div section="header-top">
          <div class="logo">
            <a href="/"
              ><img alt="white-logo" src="../assets/logo/white-logo_small2.PNG"
            /></a>
          </div>
          <div class="nav-reg">
            <nav>
              <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/registration"> User Registration</a></li>
                <li><a href="/login"> Log in</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <main>
        <div class="room-title">
          <div class="main-title">
            <h3>Yonge Loft with Patio!</h3>
          </div>
          <div class="room-title-details">
            <p>
              4.75<span class="grey-span"> (233)</span>
              <img src="../assets/icons/star.svg" /> -
              <img src="../assets/icons/like-blue.svg" /> Megahost - Toronto,
              Canada
            </p>
          </div>
        </div>

        <!-- GRID IMAGES -->
        <div class="room-detail">
          <div class="main-img">
            <img
              src="../assets/roomdetail/taylor-simpson-6JGJjb49PqA-unsplash.jpg"
            />
          </div>

          <div class="rl-images-grid">
            <div class="card">
              <img
                src="../assets/roomlisting/3-nathan-van-egmond-CXpK83c6Y1M-unsplash-resize.jpg"
                alt="Room 03"
              />
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/4-noah-benjamin-0r-HGemZdH8-unsplash-resize.jpg"
                alt="Room 04"
              />
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/5-ryan-chu-TCkoheekBw8-unsplash-resize.jpg"
                alt="Room 05"
              />
            </div>

            <div class="card">
              <img
                src="../assets/roomlisting/6-sidekix-media-r_y2VBvEOIE-unsplash-resize.jpg"
                alt="Room 06"
              />
            </div>
          </div>
        </div>
        <div class="room-information">
          <!-- BLACK LINE -->
          <div class="room-division"></div>
          <!-- EVERY INFORMATION GOES DOWN HERE -->
          <div class="information-container">
            <div class="apartment-details">
              <h4>Entire apartment hosted by Gustavo</h4>
              <p>4 guests - 2 bedrooms - 2 beds - 1 bath</p>
            </div>

            <div class="owner-pic">
              <!-- <img src="owner-pic" /> -->
            </div>
            <div class="room-division-2"></div>

            <div class="room-features">
              <div class="feature-1">
                <img class="icon" src="../assets/icons/house.svg" />
                <div class="description">
                  <h4>Entire Home</h4>
                  <p>You'll have the entire apartment for yourself</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon-clean" src="../assets/icons/clean.svg" />
                <div class="description">
                  <h4>Clean and tidy</h4>
                  <p>Recent guests said this place is super clean.</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon" src="../assets/icons/like-black.svg" />
                <div class="description">
                  <h4>Gustavo is a Megahost</h4>
                  <p>Megahosts are the best rated hosts.</p>
                </div>
              </div>

              <div class="feature-1">
                <img class="icon" src="../assets/icons/calander.svg" />
                <div class="description">
                  <h4>Cancellation policy</h4>
                  <p>Cancel before 12:00 PM on Oct. 7 and get 100% refund.</p>
                </div>
              </div>

              <div class="room-division-3"></div>

              <div class="room-details-text">
                <p>
                  Full Loft with Patio guesthouse very close to downtown Yonge &
                  Eglinton. Warm, cozy and spacious, beautifully furnished and
                  in excellent location. A 5 minute walk to TTC subway and
                  buses, shopping mall and groceries. Private entrance and lock,
                  1 bedroom with King, shower bathroom, large kitchen, barbecue
                  on the balcony.
                </p>
              </div>
              <!-- <div class="room-division-4"></div> -->
            </div>
          </div>

          <div class="room-details-left">
            <div class="sleeping-arrangements">
              <h4 class="arrangements-h4">Sleeping Arrangements</h4>
              <div class="sleeping-arrangements-grid">
                <div class="sleeping-1">
                  <img class="icon-bed" src="../assets/icons/bed.svg" />
                  <div class="amenities-text">
                    <h4>Bedroom 1</h4>
                    <p>1 queen bed</p>
                  </div>
                </div>

                <div class="sleeping-1">
                  <img class="icon-bed" src="../assets/icons/bed.svg" />
                  <div class="amenities-text">
                    <h4>Bedroom 2</h4>
                    <p>1 queen bed</p>
                  </div>
                </div>

                <div class="sleeping-1">
                  <img class="icon-bed" src="../assets/icons/bed.svg" />
                  <div class="sleeping-text">
                    <h4>Bedroom 1</h4>
                    <p>1 sofa bed</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="room-division-5"></div>

            <div class="room-amenities">
              <h4 class="amenities-h4">Amenities</h4>
              <div class="room-amenities-grid">
                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Hangers</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Carbon monoxide alarm</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Heating</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Washer</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Indoor fireplace</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Private entrance</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Wifi</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Laptop-friendly workspace</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Iron</p>
                </div>

                <div class="amenities-1">
                  <img class="icon-check" src="../assets/icons/check.svg" />
                  <p>Fire extinguisher</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="booking-form">
          <h2>Confirm the Date</h2>
          <form action="/payment">
            <div class="form-guests">
              <label for="guests">GUESTS:</label>
              <select id="guests" name="guests">
                <option value="1">1 guest</option>
                <option value="2">2 guests</option>
                <option value="3">3 guests</option>
                <option value="4">4 guests</option>
              </select>
            </div>

            <div class="form-check-in">
              <label for="check-in">CHECK-IN:</label>

              <input
                type="date"
                id="check-in"
                name="check-in"
                value="2020-09-19"
                min="2020-09-19"
                max="2021-12-31"
              />
            </div>

            <div class="form-check-out">
              <label for="check-out">CHECK-OUT:</label>

              <input
                type="date"
                id="check-out"
                name="check-out"
                value="2020-09-19"
                min="2020-09-19"
                max="2022-12-31"
              />
            </div>

            <input type="submit" value="Change Dates" />
          </form>
        </div>
      </main>
      <footer>
        <div class="footer">
          <div class="footer-nav">
            <ul>
              <li><a href="/home"> Home </a></li>
              <li><a href="/registration"> User Registration</a></li>
              <li><a href="/login"> Log in</a></li>
            </ul>
          </div>

          <div class="social-media">
            <h2>Contact Us!</h2>
            <a href="/socialmedia"
              ><img
                style="width: 25px"
                src="../assets/icons/facebook-white.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/twitter-white.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/instagram-white.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/email-white.svg"
            /></a>
          </div>

          <div class="footer-logo">
            <img src="../assets/logo/white-logo.png" />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
