<!DOCTYPE html>
<html>
  <head>
    <!-- SCRIPT, META, LINK (JS, CSS) -->
    <link rel="stylesheet" href="../css/style-reg.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <meta charset="utf-8" />
    <title>Looking for a place to stay? - Earthbnb</title>
  </head>
  <body>
    <div class="container">
      <header class="header-home">
        <div section="header-top">
          <div class="logo">
            <a href="/"
              ><img alt="white-logo" src="../assets/logo/white-logo_small2.PNG"
            /></a>
          </div>
          <div class="nav-reg">
            <nav>
              <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/registration"> User Registration</a></li>
                <li><a href="/login"> Log in</a></li>
              </ul>
            </nav>
            <div class="registration"></div>
          </div>
        </div>

        <div class="ref-position">
          <div class="reg-form">
            <h2>Sign in</h2>
            <form action="/home">
              <div class="form-email">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Your email here"
                />
              </div>

              <div class="form-renter-owner">
                <label for="renter-owner">Renter or Owner:</label>
                <select id="renter-owner" name="renter-owner">
                  <option value="" disabled selected hidden>
                    What are you?
                  </option>
                  <option value="Renter">Renter</option>
                  <option value="Owner">Owner</option>
                </select>
              </div>

              <div class="form-fname">
                <label for="fname">First name:</label>
                <input
                  type="text"
                  id="fname"
                  name="fname"
                  placeholder="Your first name"
                />
              </div>

              <div class="form-lname">
                <label for="lname">Last name:</label>
                <input
                  type="text"
                  id="lname"
                  name="lname"
                  placeholder="Your last name"
                />
              </div>

              <div class="form-birthday">
                <label for="form-birthday">Birthday:</label>

                <input
                  type="date"
                  id="birthday"
                  name="birthday"
                  value="2020-09-19"
                  min="1940-01-01"
                  max=""
                />
              </div>

              <input type="submit" value="Register!" />
            </form>
          </div>
        </div>
      </header>

      <footer>
        <div class="footer">
          <div class="footer-nav">
            <ul>
              <li><a href="/home"> Home </a></li>
              <li><a href="/registration"> User Registration</a></li>
              <li><a href="/login"> Log in</a></li>
            </ul>
          </div>

          <div class="social-media">
            <h2>Contact Us!</h2>
            <a href="/socialmedia"
              ><img
                style="width: 25px"
                src="../assets/icons/facebook-black.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/twitter-black.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/instagram-black.svg"
            /></a>
            <a href="/socialmedia"
              ><img src="../assets/icons/email-black.svg"
            /></a>
          </div>

          <div class="footer-logo">
            <img src="../assets/logo/black-logo.png" />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
