/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  color: #f1efef;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 1.2em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header-home {
  height: 40em;
  width: 100%;
  margin: 0;
  background-image: url("../assets/bg/sadeq-mousavi-2ZZ8hql1sKE-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding: 50px;
}

.logo {
  float: left;
  max-width: 50%;
  padding: 0;
}

.header-hero {
  display: flex;
  /* flex-direction: row;
    justify-content: end; */
}

header h1 {
  position: relative;
  top: 18em;
  left: -9em;
  font-family: "Open Sans", cursive;
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
  display: block;
}

header p {
  position: relative;
  top: 19em;
  left: -9em;
  font-family: "Roboto", cursive;
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
  display: block;
}

header nav {
  float: right;
  margin-right: 40px;
  padding-right: 50px;
}

header nav ul {
  margin: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: #f1efef;
}

/* BOOKING FORM */

.booking-form {
  color: #000000;
  position: relative;
  top: 7em;
  right: 10em;
  display: block;
  float: right;
  height: 17em;
  width: 20em;
  background-color: rgb(241, 239, 239, 0.9);
  border-radius: 50px;
}

.booking-form h2 {
  padding-top: 10px;
  padding-left: 60px;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 19px 39px 18px 39px;
  margin-top: 20px;
  color: #fff;
  background-color: #135a28;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2b633c;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

select,
input[type="date"] {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
label {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}

.form-city,
.form-check-in,
.form-check-out,
.form-guests {
  padding-left: 30px;
  display: inline-block;
}

.form-check-in {
  padding-top: 10px;
}

.form-check-out {
  padding-top: 10px;
}

.form-guests {
  padding-left: 50px;
}

/*  BANNER */

.promo-banner {
  /* padding-top:50px;
  padding-left:50px; */
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.promo-banner h2,
.promo-banner p {
  color: #000000;
  padding: 20px;
  margin: 0;
}
.promo-banner h2 {
  font-size: 3em;
  max-width: 70px;
  margin-left: 100px;
  margin-right: 0;
}

.promo-banner p {
  margin-left: 100px;
  margin-top: 100px;
}

.promo-images {
  display: flex;
  justify-self: space-between;
  padding-left: 300px;
}

.promo-images img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 12em;
  height: 17em;
  margin-left: 50px;
}

/* INFORMATIONAL SECTION */
main {
  display: block;
}

.main-info {
  background-color: rgb(29, 28, 28);
  /* width: 100%; */
  height: 830px;
  padding: 50px;
}

.main-info h2 {
  font-size: 2em;
  padding-left: 100px;
  padding-bottom: 40px;
}

.main-info-img img {
  max-width: 300px;
  max-height: 200px;
}

.main-info-text {
  width: 60%;
  max-width: 60%;
  padding: 50px;
  padding-left: 20%;
}

.main-info-text p {
  width: 60%;
  max-width: 20em;
  max-height: fit-content;
  word-break: break-all;
  text-overflow: ellipsis;
}

.main-info-img {
  max-height: fit-content;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
}

.main-info-video {
  display: flex;
  justify-content: center;
}

.main-info-video p {
  margin-left: 100px;
  justify-self: auto;
  max-width: 20em;

  word-break: break-all;
  text-overflow: ellipsis;
}

.main-info-video-container {
  margin-left: 0%;
}

/* Footer */

.footer {
  width: 100%;
  height: 7em;
  background-color: #fff;
  display: inline-flex;
  justify-content: space-evenly;
  color: #000;
  padding: 50px;
}

.footer-nav {
  float: right;
  margin: 70px 40px 0 300px;
  padding-right: 50px;
}

.footer-nav ul {
  margin: 0;
  list-style: none;
}

.footer-nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer-nav ul li a {
  color: #000;
}

.footer-logo img {
  padding-top: 50px;
  width: 120px;
  height: 100px;
}
.social-media {
  display: inline;

  margin: 0 300px 0px 0px;
}

.social-media h2 {
  font-family: "Open Sans";
  font-size: 2em;
  padding-left: 100px;
  padding-bottom: 20px;
}
.social-media a img {
  padding-top: 20px;
  padding-left: 20px;
  width: 50px;
  height: 50px;
}

/* NOT WORKING */
@media screen and (max-width: 600px) {
  .body {
    font-size: 50em;
  }
}
