/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  color: #f1efef;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 1.2em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header-home {
  height: 30em;
  width: 100%;
  margin: 0;
  background-image: url("../assets/bg/artem-kostenko-a6EzvPjXfBY-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding: 50px;
  /* overflow: hidden; */
}

.logo {
  float: left;
  max-width: 50%;
  padding: 0;
}

.header-hero {
  display: flex;
  /* flex-direction: row;
    justify-content: end; */
}

header h1 {
  position: relative;
  top: 3em;
  left: -1em;
  font-family: "Open Sans", cursive;
  font-size: 4em;
  margin: 0;
  margin-top: 5px;
  display: inline-block;
  color:#fff;
}

header p {
  position: relative;
  top: 8em;
  left: 5em;
  font-family: "Roboto", cursive;
  font-size: 1.5em;
  margin: 0;
  margin-top: 5px;
  display: block;
  color:#fff;
}

header nav {
  float: right;
  margin-right: 40px;
  padding-right: 50px;
}

header nav ul {
  margin: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: #f1efef;
}

/*  ROOM LISTING */

.room-listing {
  /* padding-right: 300px; */
  height: 10%;
  /* display: flex;
  justify-content: center; */
}

.room-listing h2 {
  color: #000000;
  padding: 20px;
  margin: 0;
}
.room-listing h2 {
  font-size: 2em;
  max-width: 3em;
  margin-left: 4em;
  margin-right: 0;
}

.rl-images-grid {

  grid-gap: 6em 3em;
  padding-left: 4em;
  padding-top: 2em;
}
.mycard {
  /* padding: 10px; */
  height: 270px;
  width: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.mycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mycard h4 {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 1.3em;
  color: #000;
}
.mycard p {
  font-size: 0.8;
  color: rgb(0, 0, 0);
}

/* ICON */
.icon-heart {
  padding-top: 5px;
  padding-right: 5px;
  width: 20px;
  float: right;
}

.icon-heart:hover {
  cursor: pointer;
}

/* Footer */

.footer {
  margin-top: 25px;
  width: 100%;
  height: 30%;
  background-color: #000;
  color: #fff;
  padding: 1em;
}

.footer-nav {
  float: right;
  /* margin: 2em 1em 0 30%;
  padding-right: 2em;
  padding-bottom: 1em; */
  width: 100%;
  display: inline;
}

.footer-nav ul {
  margin: 0;
  list-style: none;
}

.footer-nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer-nav ul li a {
  color: #fff;
}

/* FOOTER ICONS */

.social-media img {
  width: 15%;
  padding-right: 1em;
}

.social-media {
  float: left;
}
.social-media a {
  color: fff;
  text-decoration: none;
}

.social-media h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5em;
  padding-left: 15px;
}

.col-sm,
.col-md {
  margin: 1em;
}

/* FOOTER */
.footer-logo {
  width: 120px;
  margin: auto;
}
 @media screen and (max-width: 600px) {
  .rl-images-grid {

    grid-gap: 6em 3em;
    padding-left: 1em;
    padding-top: 1em;
  }

  
header h1 {
  font-size: 2em;
}

header p {
  font-size: 0.7em;
 
}


 } 
