/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  color: #f1efef;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 1.2em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header-home {
  height: 1.5em;
  width: 100%;
  margin-bottom: 50px;
  background-image: url("../assets/bg/sadeq-mousavi-2ZZ8hql1sKE-unsplash_compressed.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  background-attachment: scroll;
  padding: 50px;
  /* overflow: hidden; */
}

.logo {
  float: left;
  max-width: 50%;
  padding: 0;
}

header nav {
  float: right;
  margin-right: 40px;
  padding-right: 50px;
}

header nav ul {
  margin: 0;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: #f1efef;
}

/* PAY NOW FORM */
.payment-form {
  height: 30em;
}

.cc-payment-form {
  margin: auto;
  margin-top: 50px;
  color: #000000;
  display: block;
  height: 25em;
  width: 20em;
  background-color: rgb(241, 239, 239, 0.9);
  border-radius: 50px;
}

.cc-payment-form-container {
  text-align: center;
}
input {
  margin-bottom: 10px;
}

.cc-payment-form h2 {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

input[type="submit"] {
  padding: 19px 39px 18px 39px;
  margin-top: 20px;
  color: #fff;
  background-color: #134c5a;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2b633c;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

select,
input[type="date"] {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
label {
  justify-content: start;
  display: block;
  margin-bottom: 8px;
  padding-right: 15px;
}

.form-check-in,
.form-cc-number,
.form-cc-name,
.form-cc-security,
.form-expiration {
  /* padding-left: 110px; */
  margin: auto;
  display: block;
  width: auto;
}

.form-check-in {
  padding-top: 10px;
}

.form-check-out {
  padding-top: 10px;
}

/* Footer */

.footer {
  margin-top: 25px;
  width: 100%;
  height: 150px;
  background-color: #000000;
  /* justify-content: space-evenly; */
  color: #ffffff;
  padding: 50px;
}

.footer-nav {
  float: right;
  margin: 70px 40px 0 300px;
  padding-right: 50px;
}

.footer-nav ul {
  margin: 0;
  list-style: none;
}

.footer-nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer-nav ul li a {
  color: #ffffff;
}

/* FOOTER ICONS */

.social-media img {
  width: 40px;
  padding-right: 30px;
}
.social-media {
  float: left;
  padding-top: 20px;
}
.social-media a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.social-media h2 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.5em;
  padding-left: 15px;
}

/* FOOTER */
.footer-logo {
  width: 120px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 3em;
  }
}
